* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;  
  padding: 0; 
  overflow-x: hidden;
}

header {
  width: 100%; 
  padding: 5rem 0; 
  background: linear-gradient(rgba(0,0,0,0.5), rgba(36, 4, 4, 0.5)), url(https://images.wallpapersden.com/image/download/programming-coding-language_bGhpbm6UmZqaraWkpJRmbmdlrWZlbWU.jpg);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  color: white;
  border-bottom: 2px solid yellow;
  text-align: center;
}

/* MAIN - Parte importante */
main {
  padding: 5rem;
  background-color: black;
}

.contenido-principal {
  display: flex;
  gap: 5rem;
  align-items: flex-start;
}


.sobre-mi {
  flex: 2;
}

.pseudoTitulo {
  font-size: 3rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  color: white;
}

.sobremi {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  text-align: justify;
  color: white;
  margin-bottom: 3rem;
}

.TecnologiasT {
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  color: white;
}

.tecnologias-texto {
  font-size: 1.2rem;
  color: white;
}


.foto-estudios {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imagen {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 3px solid green;
  margin-bottom: 2rem;
}

.estudiosT {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.estudios {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Montserrat', sans-serif;
}

/* Contacto */
.contacto {
  width: 100%;
}

.ContactoT {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  display: block;
  font-family: 'Montserrat', sans-serif;
  
}

.contacto-texto {
  color: white;
  font-size: 1.1rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  
}

/* Footer */
footer {
  width: 100%;
  max-height: 600px; 
  padding: 0rem 0; 
  background-color: #333;
  color: #fff;
  border-top: 2px solid yellow;
  text-align: center;
}

.footertxt {
  font-size: 30px;
  margin-top: 0;
  padding: 1rem;
 
}

.Boxtext2{
  border: 3px solid #ffffff; 
  padding: 20px;
  background-color: #000000; 
  color: #00ff22;  
  width: fit-content;
  margin: 20px;
  border-radius: 0px; 
  
  
}

.Boxtext{
  border: 3px solid #ffffff; 
  padding: 20px;
  background-color: #000000; 
  color: #ffffff;  
  width: fit-content;
  margin: 20px;
  border-radius: 0px;
  
  
}

.centrado{
text-align: center;

}



h1 {
  margin: 0; 
  padding: 0;
  font-size: 6rem; 
  display: inline-block; 
}

h2 {
  margin: 0; 
  padding: 0;
  font-size: 3rem; 
  display: inline-block; 
}

.ProyectoT{
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  color: white;


}

.tecnologias-imagenes {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: start; 
  align-items: center;
  margin-top: 10px;
}

.tecnologias-imagenes img {
  width: 40px;
  height: 40px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.tecnologias-imagenes img:hover {
  transform: scale(1.2);
}

.tech-icon {
  width: 300px;    
  height: 300px;
  object-fit: cover;
  border-radius: 80%;
  border: 3px solid white; 
}

.izquierda{
align-items: left;
}

#contacto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.icono-red {
  width: 100px;
  height: 100px;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.icono-red:hover {
  transform: scale(1.1);
}

.white{
color:white;
}

nav {
  background-color: #222;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav ul li a:hover {
  color: yellow;
}

.tech-icon2 {
  width: 300px;    
  height: 300px;
  object-fit: scale-down;
  border-radius: 80%;
  border: 3px solid white; 
}

a {
  font-size: 1.8rem; 
  font-weight: bold; 
}

#mensaje {
  resize: none; 
  width: 310%; 
  height: 150px; 
}

#nombre {
  resize: none; 
  width: 200%; 
  height: 30px; 
}

#email {
  resize: none; 
  width: 200%; 
  height: 30px; 
}

.enviar {
  font-size: 1.5rem;
  padding: 15px 30px;
  width: 200px;
  height: 60px;
  background-color: grey;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer; 
}
