* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;  
  padding: 0; 
}

header{
  width: 100%; 
  margin: 0;
  padding: 5rem 0; 
  background: linear-gradient(rgba(0,0,0,0.5), rgba(36, 4, 4, 0.5)), url(https://images.wallpapersden.com/image/download/programming-coding-language_bGhpbm6UmZqaraWkpJRmbmdlrWZlbWU.jpg);
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
color: white;
border-bottom: 2px solid yellow;
}
  



footer {
  width: 100%; 
  margin: 0;
  padding: 3rem 0; 
  background-color: #333;
  color: #fff;
  border-top: 2px solid yellow;
}
  
  
  main {
    padding: 11rem 0;
    margin: 0;
    background-color: black;
  }


  h1{
  text-align: center;
  
  
  }
  
  h2 {
    text-align: left;
    font-size: 3rem;
    margin: 2rem;
    color:#fff;

  }
  
  section {
    
    margin-bottom: 5rem;
    text-align: left;
    color:#fff;
    
  }
  
  

  p.footertxt {
   
    transform: translate(42.5vw,-6vh);
    font-size: 20px;

  }

  p{
  font-size: 1rem;
  margin: 2rem;
  }

  .centrado{
    text-align: center;
    
  }

  h1.principal{
    transform: translate(20vw,2vh);
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
  }

  h2.pseudoTitulo{
  
    transform: translate(8vw,-17vh);
  font-size: 125px;

  }
  
  .TecnologiasT{
    font-size: 70px;
    transform: translate(70.5vw,2vh);
    
  }
  
  .ContactoT{
    font-size: 70px;
    transform: translate(8vw,-17vh);
  }

  .sobremi{
    max-width: 600px; /* El ancho del bloque */
    margin-left: auto; /* Que empuje todo hacia la derecha */
    margin-right: 50px; /* El margen que querés desde la derecha */
    text-align: justify;
    font-size: 20px; 
    transform: translate(-55vw, -16vh);


  }

  .contacto{
    transform: translate(8vw,-17vh);
  }

 
.Boxtext{
  border: 3px solid #ffffff; 
  padding: 20px;
  background-color: #000000; 
  color: #ffffff;  
  width: fit-content;
  margin: 20px;
  border-radius: 0px; 
  
}

.Boxtext2{
  border: 3px solid #ffffff; 
  padding: 20px;
  background-color: #000000; 
  color: #00ff22;  
  width: fit-content;
  margin: 20px;
  border-radius: 0px; 
  
}

.alineado{

  transform: translate(20vw,2vh);
}